@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Request your RSS feed with the <code>/{atom|rss}/?url={url-encoded-feed-url}</code>.</p>
    <p>To check out the source for this project, head to the <a href="https://github.com/patridge/rss-to-jsonp">RSS-to-JSONP repo</a>.</p>
</div>
